@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat&display=swap');
/* Root/variables */
:root {
  --dark-background: #1F2937;
  --light-background: #E5E7EB;
  --button: #3882F6;
  --light-text: #F9FAF8;
  --dark-text: #1F2937;
  --grey-text: #E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;

}

body html {
  height: 100%;
}
.body-image {
  background-image: url(../images/milky-way.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
}
.header {
  background-color: var(--dark-background);
  opacity: 75%;
}
/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.nav span {
  color: var(--light-text);
  justify-content: left;
  margin-left: 10px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  color: var(--grey-text);
  padding: 15px 0 15% 15px;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 100px 15%
}

.hero-text h2 {
  font-size: 30px;
  color: var(--light-text);
  font-weight: bolder;
}

.hero-text p {
  font-size: 15px;
  color: var(--grey-text);
}

.hero-profile {
  /* background-color: var(--grey-text);
  padding: 50px 10%; */
  
}

.hero-text button {
  background-color: var(--button);
  border: none;
  color: var(--light-text);
  border-radius: 5px;
  width: 75px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}

.hero-profile img {
  max-width: 55%;
  height: auto;
}