@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/* Root/variables */
:root {
  --dark-background: #202020;
  --dark-background-gradient: #333333
  --light-background: #E5E7EB;
  --button: #3882F6;
  --light-text: #f4d03f;
  --dark-text: #1F2937;
  --grey-text: #E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;

}

body html {
  height: 100vh;
  width: 100vw
}

.header {
  background: linear-gradient(to left, #333333 25%,  #202020 75%);
}
/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  color: var(--light-text);
}

.nav span {
  justify-content: left;
  margin-left: 10px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  color: var(--grey-text);
  padding: 15px 0 15% 15px;
}

.nav ul li a:hover {
  text-decoration: none;
  color: var(--light-text);
  padding: 15px 0 15% 15px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  padding: 15% 1% 85% 1%;
  
}

/* p > a:hover{
} */

.hero-text h2 {
  font-size: 1.5rem;
  color: var(--light-text);
  font-weight: bolder;
}

.hero-text > p:hover {
	
  color: var(--light-text);
  /* font-size: 18px; */
  transition: 1s;

}
.hero-text p {
  font-size: 1.25rem;
  color: var(--grey-text);
}

.hero-image:hover {
	border: solid 2px var(--light-text);
	transition: 500ms
}

.hero-text button {
  background-color: var(--light-text);
  border: none;
  color: var(-grey-text);
  border-radius: 5px;
  width: 75px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
}

.hero-profile img {
  max-width: 65%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:  1% 0 1% 0;
}


._12 {
	font-size: 1.2em;

}

._14 {
	font-size: 1.4em;

}

ul {
	padding:0;
	list-style: none;
}



.social-icon {
	color: #fff;
}

ul.social-icons {	
	margin-top: 10px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #fff; 
	text-decoration: none;
}


.fa-facebook {
	padding:10px 14px 7px 14px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-facebook:hover {
	background-color: var(--light-text);
}

.fa-twitter {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-twitter:hover {
	background-color: var(--light-text);
}

.fa-instagram {
	padding:10px 12px 7px 12px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-instagram:hover {
	background-color: var(--light-text);
}

.fa-github {
	padding:10px 12px 7px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-github:hover {
	background-color: var(--light-text);
}

.fa-linkedin {
	padding:10px 11px 8px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-linkedin:hover {
	background-color: var(--light-text);
}

.fa-envelope {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-envelope:hover {
	background-color: var(--light-text);
}

@media (min-width: 1200px) {

	.hero-text h2 {
		font-size: 2rem;
	}
	.hero-text > p {
		font-size: 1.5rem;
	}

}